fastapi
uvicorn
sqlmodel
psycopg2-binary
sslyze
dnspython
requests
python-jose[cryptography]
passlib[bcrypt]
pydantic-settings
python-multipart
reportlab
numpy
matplotlib
python-dotenv
psycopg2-binary
cryptography
